<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<script type="text/javascript" src="js/phaser.js"></script>
		<script type="text/javascript" src="js/boot.js"></script>
		<script type="text/javascript" src="js/load.js"></script>
		<script type="text/javascript" src="js/menu.js"></script>
		<script type="text/javascript" src="js/play.js"></script>
		<script type="text/javascript" src="js/map_one.js"></script>
		<script type="text/javascript" src="js/unit.js"></script>
		<script type="text/javascript" src="js/selectionBox.js"></script>
		<script type="text/javascript" src="js/combatPlayer.js"></script>
		<script type="text/javascript" src="js/combat_map.js"></script>

		<script type="text/javascript" src="js/game.js"></script>
	</head>
	<body>
		<p> Basic Game Template for Phaser.js</p>
		<div id="gameDiv"></div>
	</body>
</html>